<h1 style="margin-left: 50px">Books</h1>
<div class=".MainContainer">
    <!-- <div class="homeid">
        <span class="home" style="cursor:pointer;" routerLink="/dashboard/getAllBooks">Home / </span>
        <span style="color: black; font-weight: 500; ">BookId</span>
    </div> -->
    <div class="containerZero" >
        <img src="../../../assets/Image 11@2x.png" class="images" >
        <img src="../../../assets/Image 12@2x.png" class="images">
    </div>
    <div class="containerOne">
        <img src="../../../assets/DMMT.png" id="mainimage" />
        <div class="twoButton">
          <button id="addButton"  (click)="addCarts()" >ADD TO BAG
             </button>
             <div  style="display: flex;" *ngIf="addBag" (click)="hideshow()" >
              <button class="decrease" (click)="decrement()"> - </button>
              <span id="Quantity" >{{increase}} </span>
                <button class="increase" (click)="increment()"> + </button>
    </div>
            <button id="wishButton" routerLink="/home/wishlist" (click)="addwishlistBook()">
                <span id="heart" class="material-symbols-outlined"> favorite </span>
                WISHLIST
            </button> 
        </div>
    </div>
    <div class="containerTwo">
        <h1 class="contentName" style="font-weight: 500;">{{ Book.bookName }} </h1>
        <p class="contentName" style="font-size: medium; color: grey;">By {{ Book.author }}</p>
        <p class="contentName">
          <button id="starbutton">
            4.5 <i id="star" class="material-symbols-outlined"> star </i>
          </button>
        </p>
    
        <h1 class="contentName" id="discountPrice">RS. {{ Book.discountPrice }} <span id="price">Rs.{{ Book.price }}</span></h1>
        <hr>
    
    
        <p style="color: grey; font-size: larger;">*Book Detail</p>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
          voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
          clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
          amet.d
        </p>
        <hr>
        <h2 class="contentName">Customers Feedback</h2>
        <h4 class="contentName">OverAll rating</h4>
        <p>
          <i class="star" class="material-symbols-outlined"> star </i>
          <i class="star" class="material-symbols-outlined"> star </i>
          <i class="star" class="material-symbols-outlined"> star </i>
          <i class="star" class="material-symbols-outlined"> star </i>
          <i class="star" class="material-symbols-outlined"> star </i>
        </p>
        <textarea
          name=""
          id=""
          cols="65"
          rows="5"
          placeholder="write your review"
        ></textarea>
        <button
          style="
            float: right;
            width: 130px;
            padding: 10px;
            background-color: #3371b5;
          "
        >
          Submit
        </button>
        <div>
        </div>
      </div>
    
      <div></div>
    </div>




<!-- <div class="display-book">
    <div class="bookalign">
        <div fxLayout="row">
            <img class="s-image" src="../../../assets/DMMT.png" width="35px" height="45px">
            <div class="book-image" [style.opacity]="book?.quantity==0 ? .8 : 1">
              <img src="../../../assets/DMMT.png" width="280px" height="400px">
            </div>
        </div>
    </div>

</div> -->
