<div class="container">
    <div class="header">
        <div class="logo">
            <img src="../../../assets/education.png" >
        </div>
        <div class="logo-name">
            <span class="text">Bookstore</span>
        </div>
    </div>
    <div class="body">
        <div class="Forgot">
            <span class="fpass">Forgot YouR Password?</span>
        </div>
        <form>
        <div class="rectangle">    
            <div class="instruction">
                <span class="instruction-text">
                    Enter your email address and we'll send you a link to reset your password.
                </span>
            </div>
            <div class="email-box">
                <mat-label>Email Id</mat-label>
                <mat-form-field appearance="outline" >
                    <input matInput type="email">
                    <mat-error>Enter valid Email id</mat-error>
                </mat-form-field>
            </div>
            <button  type="submit" class="btn-primary" color="primary" >Reset Password</button>
        </div>
        <div class="create-account">
            <button mat-flat-button class="btn" routerLink="/registerLogin">CREATE ACCOUNT</button>
        </div>
    </form>   
    </div>
</div>
