
<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row">
        <span class="home" style="cursor:pointer;" routerLink="/dashboard/getallbooks">Home /</span>
        <span style="color: black; font-weight: 500; ">BookId({{Book?._id}})</span>
    </div>
    <div class="display-book">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row">
                <img class="s-image" src="../../../assets/DMMT.png" width="35px" height="45px">
                <div class="book-image">
                <img src="../../../assets/DMMT.png" width="280px" height="400px">
                </div>
            </div>
        </div>
        <span class="outOfStock" *ngIf="Book?.bookQuantity==0">OUT OF STOCK</span>
        <div class="buttons" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px">
            <button class="bag" mat-flat-button (click)="addToCart()" *ngIf="Book?.bookQuantity!=0 && !addedToCart" >ADD TO BAG</button>
            <button class="bag" mat-flat-button *ngIf="Book?.bookQuantity==0">NOTIFY ME</button>
            <button class="bag" mat-flat-button *ngIf="addedToCart">ADD TO BAG</button>
            <button class="wishlist" mat-flat-button (click)="addToWishlist()" ><img src="../../../assets/favorite.svg" width="18px" height="18px">
              WISHLIST</button>
        </div>
    </div>
    <div class="book-details" fxLayout="column" fxLayoutAlign="start start">
      <h3 class="bookName">{{Book?.bookName}}</h3>
      <span class="authorName">by authorName</span>
    </div>
    <div style="display:flex;flex-direction:column;margin-bottom: 15px;">
        <div class="rating">
          <span style="display:flex; justify-content:center;padding-top: 2px; margin-right: 2px;">book rating</span>
          <img src="../../../assets/grey-star.png" width="12px">
        </div>
        <span class="reviewerCount">reviewerCount</span>
    </div>
    <div  style=" display: flex; flex-direction: row; margin-bottom: 10px;">
        <div><span class="discountPrice">Rs. discountPrice</span></div>
        <div><span class="originalPrice">Rs. originalPrice</span></div>
    </div>
    <mat-divider style="width: 100%;"></mat-divider>
    <div fxLayout="column" style="margin: 15px 10px;">
        <ul class="book-detail">
          <li>Book Detail</li>
        </ul>
        <span class="detail">bookDetail</span>
    </div>
    <mat-divider style="width: 100%;"></mat-divider>
    <h4>Overall rating</h4>
        <div class="starContainer">
          <input type="radio" name="rate" id="rate-1"  value="1">
          <label for="rate-1"><img src="../../../assets/grey-star.png" width="22px" ></label>
          <label for="rate-1"><img src="../../../assets/yellow-star.png" width="22px"></label>

          <input type="radio" name="rate" id="rate-2"  value="2">
          <label for="rate-2"><img src="../../../assets/grey-star.png" width="22px"></label>
          <label for="rate-2"><img src="../../../assets/yellow-star.png" width="22px"></label>

          <input type="radio" name="rate" id="rate-3"  value="3">
          <label for="rate-3"><img src="../../../assets/grey-star.png" width="22px" ></label>
          <label for="rate-3"><img src="../../../assets/yellow-star.png" width="22px"></label>

          <input type="radio" name="rate" id="rate-4"  value="4">
          <label for="rate-4"><img src="../../../assets/grey-star.png" width="22px"></label>
          <label for="rate-4"><img src="../../../assets/yellow-star.png" width="22px"></label>

          <input type="radio" name="rate" id="rate-5"  value="5">
          <label for="rate-5"><img src="../../../assets/grey-star.png" width="22px"></label>
          <label for="rate-5"><img src="../../../assets/yellow-star.png" width="22px"></label>
        </div>

        <textarea type="text" matInput placeholder="Write your review" style="overflow: hidden; resize: none !important; word-wrap: break-word; 
              padding: 5px; margin: 10px 0px; background: white; border-radius: 2px;" cdkTextareaAutosize
          cdkAutosizeMinRows="3" cdkAutosizeMaxRows="25"></textarea>
        <div fxLayoutAlign="end center" style="padding: 5px ;">
          <button mat-flat-button color="primary" class="submit">Submit</button>
        </div>
      </div>

      <div class="feedbackList" fxLayout="column">
        <div class="review">
          <span class="comment-name">fullName</span>
          <div>
            <img src="../../../assets/grey-star.png" width="22px">
            <img src="../../../assets/yellow-star.png" width="22px">
            <img src="../../../assets/grey-star.png" width="22px">
            <img src="../../../assets/yellow-star.png" width="22px">
            <img src="../../../assets/grey-star.png" width="22px">
            <img src="../../../assets/yellow-star.png" width="22px">
            <img src="../../../assets/grey-star.png" width="22px">
            <img src="../../../assets/yellow-star.png" width="22px">
            <img src="../../../assets/grey-star.png" width="22px">
            <img src="../../../assets/yellow-star.png" width="22px">
          </div>
          <span class="comment">comment</span>
        </div>
      </div>
  